<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-2">
                    <div class="card">
                        <h5 class="card-header">Accounts (EUR)</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th>Account Name</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr *ngFor="let x of account_overview; let i = index">
                                        <td *ngIf="x.currency == 'EUR'"><a routerLink="/account/{{x.name}}"><strong>{{x.name}}</strong></a></td>
                                        <td *ngIf="x.currency == 'EUR'">{{get_viewing_currency_symbol()}} {{format_amount(x.amount)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    <div class="card mt-3">
                        <h5 class="card-header">Accounts (INR)</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th>Account Name</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr *ngFor="let x of account_overview; let i = index">
                                        <td *ngIf="x.currency == 'INR'"><a routerLink="/account/{{x.name}}"><strong>{{x.name}}</strong></a></td>
                                        <td *ngIf="x.currency == 'INR'">{{get_viewing_currency_symbol()}} {{format_amount(x.amount)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <h5 class="card-header">Accounts (USD)</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th>Account Name</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr *ngFor="let x of account_overview; let i = index">
                                        <td *ngIf="x.currency == 'USD'"><a routerLink="/account/{{x.name}}"><strong>{{x.name}}</strong></a></td>
                                        <td *ngIf="x.currency == 'USD'">{{get_viewing_currency_symbol()}} {{format_amount(x.amount)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  p-2">
                    <div class="card">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="card-title m-0 me-2">Investments</h5>
                        </div>
                        <div class="card-body">
                            <ul class="p-0 m-0">
                                <li class="d-flex mb-4 pb-1" *ngFor="let x of stock_overview; let i = index">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <a routerLink="/stock/{{x['name']}}">
                                        <img src="assets/assets/img/icons/brands/google.png" alt="User"
                                            class="rounded" />
                                        </a>
                                    </div>
                                    <div
                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">{{x['name']}}</h6>
                                            <small class="text-muted d-block mb-1">{{format_amount(x['amount'])}}
                                                Units</small>
                                        </div>
                                        <div class="user-progress d-flex align-items-center gap-1">
                                            <span class="text-muted">{{get_viewing_currency_symbol()}} {{
                                                format_amount(x['price'] * x['amount'])}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card" *ngIf="assets.length != 0">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="card-title m-0 me-2">Assets</h5>
                        </div>
                        <div class="card-body">
                            <ul class="p-0 m-0">
                                <li class="d-flex mb-4 pb-1" *ngFor="let x of assets; let i = index">
                                    <div
                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">{{x.name}}</h6>
                                            <small class="text-muted d-block mb-1">{{x.quantity}} Unit</small>
                                        </div>
                                        <div class="user-progress d-flex align-items-center gap-1">
                                            <span class="text-muted">{{x.currency =='EUR'?'€':'₹'}} {{ x.price }}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="assets/assets/img/icons/unicons/cc-primary.png" alt="chart success"
                                        class="rounded">
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Bank</span>
                            <h3 class="card-title mb-2">{{get_viewing_currency_symbol()}}
                                {{format_amount(get_total_money_in_banks())}}</h3>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="assets/assets/img/icons/unicons/chart.png" alt="Credit Card"
                                        class="rounded">
                                </div>
                            </div>
                            <span>Stocks</span>
                            <h3 class="card-title text-nowrap mb-1">{{get_viewing_currency_symbol()}}
                                {{format_amount(get_total_money_in_investments())}}</h3>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between flex-sm-row flex-column gap-3"
                                style="position: relative;">
                                <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                    <div class="card-title">
                                        <h5 class="text-nowrap mb-2">Net Worth</h5>
                                        <span class="badge bg-label-warning rounded-pill">Current</span>
                                    </div>
                                    <div class="mt-sm-auto">
                                        <h3 class="mb-0">{{get_viewing_currency_symbol()}} {{format_amount(get_total_net_worth())}} </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
